extends layout

block content
  div(id= 'menu')
    div(id= 'menu-items')
      a( href= '/' class='menu-item') Home 
      a( href= '/about' class='menu-item') About
      a( href= '/contact' class='menu-item') Contact
      a( href= '/news' class='menu-item') News
      
    div(id = 'menu-background-patterns')

    div(id = 'pug-icon')
      img(src="https://jawaragordon.com/img/pug-icon.png")
      

    